<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,
                 initial-scale=1,
                 shrink-to-fit=no">
    <title>Бадминтон и ром</title>

    <link rel="icon" type="image/png" href="/assets/icons/favicon.png"/>
    <link rel="apple-touch-icon" href="/assets/icons/apple-touch-favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.rtl.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-reboot.rtl.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-utilities.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-utilities.rtl.min.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <% if (user) { %>
        <link rel="stylesheet" type="text/css" href="/css/loggedin.css">
    <% } %>
</head>

<body>
<div class="header">
    <div class="container">
        <div class="row">
            <% if (device !== 'phone') { %>
                <div class="col-2 d-flex">
                    <div class="social">
                        <%- include('social', {device: device}); %>
                    </div>
                </div>
            <% } %>
            <div class="col-10 d-flex justify-content-end">
                <% if (user) { %>
                    <form action="/api/auth/logout" method="post" class="logout">
                        <div class="player-selectors">
                            <%- include('tournament', {tournaments: tournaments}); %>
                            <%- include('unit', {units: units}); %>
                        </div>
                        <label class="user"><%= user.username %></label>
                        <button class="btn" type="submit"><p class="bi bi-box-arrow-right" style="display:inline"></p></button>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    </form>
                <% } else{ %>
                    <form action="/api/auth/login" method="get" class="login">
                        <!--                        <div class="player-selectors">-->
                        <!--                            <%- include('tournament', {tournaments: tournaments}); %>-->
                        <!--                        </div>-->
                        <button class="btn" type="submit"><p class="bi bi-box-arrow-in-left"> Войти</p></button>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    </form>
                <% } %>
            </div>
        </div>
    </div>
</div>

<div class="player" id="player">
    <div class="container">
        <% if (user) { %>
            <h1 class="text-center">Игроки</h1>
        <% } %>
        <div class="col-lg-12 col-md-12 col-sm-12 desc">
            <table id="player-table" data-editable="true"></table>
        </div>
    </div>
</div>

<div id="player-window" class="modal fade" tabindex="-1"></div>

<div id="player-signup-window" class="modal fade" tabindex="-1">
    <%- include('signup', { kind: 'modal', states: states, regions: regions, cities: cities } ); %>
</div>

<% if (user) { %>
    <div class="select" id="select">
        <div class="container">
            <h1 class="text-center">Подбор</h1>
            <div id="select-block" class="col-lg-12 col-md-12 col-sm-12 desc">
                <div id="select-info" class="row" style="display:none">
                    <div class="text-center">
                        <label>Нет игроков, подходящих под критерии выбора: зарегистрируйте больше игроков на </label>
                        <a onclick="scrollToId('player')" href="#">турнир</a>
                        <label>или добавьте </label>
                        <a onclick="scrollToId('court')" href="#">корты</a>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <button id="select-button" type="button" class="btn btn-lg btn-success mx-auto w-auto">Подобрать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="game" id="game">
        <div class="container">
            <h1 class="text-center">Игры</h1>
            <div class="game-info row">
                <div class="text-center">
                    <label>Тут появится информация по играм, после их </label>
                    <a onclick="scrollToId('select')" href="#">подбора</a>
                </div>
            </div>
            <div id="game-block"></div>
        </div>
    </div>
<% } %>

<div id="match-history" class="match-history">
    <div class="container">
        <% if (user) { %>
            <h1 class="text-center">История матчей</h1>
        <% } %>
        <div class="col-lg-12 col-md-12 col-sm-12 desc">
            <div id="match-history-block">
                <div class="row justify-content-center mx-auto">
                    <% matches.forEach((m, index) => { %>
                        <div class="col-auto text-center">
                            <% var match_index = index + 1; %>
                            <% var match_id = Object.keys(m)[0]; %>
                            <% var games = Object.values(Object.values(m)[0]).map(g => g[0]); %>
                            <% var match_start_date = new Date(games[0]?.match_created_at + "Z") %>
                            <% var court = games[0].court; %>
                            <% var user_ids = [1, 2, 3, 4].map(i => games[0][`user_${i}_id`]); %>
                            <% var names = [1, 2, 3, 4].map(i => games[0][`name${i}`]); %>
                            <% var sexes = [1, 2, 3, 4].map(i => games[0][`sex${i}`]); %>
                            <% var pics = [1, 2, 3, 4].map(i => games[0][`pic${i}`]); %>
                            <% var losses_1_by = games.map(g => Number(g?.lost_1_by || 0)); %>
                            <% var losses_2_by = games.map(g => Number(g?.lost_2_by || 0)); %>
                            <% var total_scores_1 = Number(losses_1_by.reduce((a, b) => a + b, 0)); %>
                            <% var total_scores_2 = Number(losses_2_by.reduce((a, b) => a + b, 0)); %>
                            <% var total_scores = total_scores_1 + total_scores_2; %>

                            <% var game_dates = games.map(g => new Date(g.game_created_at + "Z")); %>
                            <% var game_durations_minutes = [Math.round((game_dates[0].getTime() - match_start_date.getTime()) / 60000)]; %>
                            <% for (let i = 1; i < games.length; i++) {
                                game_durations_minutes.push(Math.round((game_dates[i].getTime() - game_dates[i - 1].getTime()) / 60000));
                            } %>
                            <% var duration = game_durations_minutes.reduce((d1, d2) => d1 + d2, 0) %>
                            <% var score_duration_minutes = total_scores / duration; %>
                            <% var rating1 = Number(games[0].rating1).toFixed(1); %>
                            <% var rating2 = Number(games[0].rating2).toFixed(1); %>
                            <% var delta1 = games.map(g => Number(g.delta1))[0].toFixed(1); %>
                            <% var delta2 = delta1 * (-1); %>

                            <label class="form-label match-history-info">№<%= match_index %> (<%= match_id %>) <nobr class="secondary-info"><%= match_start_date.toLocaleString('ru', {timeZone: 'Europe/Moscow'}) %>, корт №<%= court %></nobr></label>
                            <table class="match-history-players table" style="margin-bottom: 3em;">
                                <tbody>
                                <tr>
                                    <td class="match-history-delta-col<%= delta1 < 0 ? ' rating-minus' : ' rating-plus' %>"><%= delta1 < 0 ? delta1 : `+${delta1}` %></td>
                                    <td class="match-history-delta-col<% if( delta1 > 0) { %> win<% } %>">〈Σ〉<%= rating1 %></td>
                                    <% for (let i = 0; i < losses_1_by.length; i++) { %>
                                        <td rowspan="3" class="match-history-game-col match-history-score<% if(losses_1_by[i] > losses_2_by[i]) { %> win<% } %>"><%= losses_1_by[i] %></td>
                                    <% } %>
                                </tr>
                                <tr>
                                    <td rowspan="2" class="match-history-score<% if( total_scores_1 > total_scores_2) { %> win<% } %>"><%= total_scores_1 %></td>
                                    <td class="match-history-players-name<% if( delta1 > 0) { %> rating-plus<% } else { %> rating-minus<% } %>"><%- playerNameFormatter(user_ids[0], names[0], sexes[0], pics[0]) %></td>
                                </tr>
                                <tr>
                                    <td class="match-history-players-name<% if( delta1 > 0) { %> rating-plus<% } else { %> rating-minus<% } %>"><%- playerNameFormatter(user_ids[1], names[1], sexes[1], pics[1]) %></td>
                                </tr>
                                <tr class="match-history-duration">
                                    <td class="win"><%= duration %>'</td>
                                    <td>〈Δ〉<%= Math.abs(rating1 - rating2).toFixed(1) %></td>
                                    <% game_durations_minutes.forEach(d => { %>
                                        <td class="match-history-game-col"><%= d === 0 || d === duration ? Math.round(duration / games.length) : d %>'</td>
                                    <% }) %>
                                </tr>
                                <tr>
                                    <td rowspan="2" class="match-history-score<% if( total_scores_2 > total_scores_1) { %> win<% } %>"><%= total_scores_2 %></td>
                                    <td class="match-history-players-name<% if( delta2 > 0) { %> rating-plus<% } else { %> rating-minus<% } %>"><%- playerNameFormatter(user_ids[2], names[2], sexes[2], pics[2]) %></td>
                                    <% for (let i = 0; i < losses_1_by.length; i++) { %>
                                        <td rowspan="3" class="match-history-game-col match-history-score<% if(losses_2_by[i] > losses_1_by[i]) { %> win<% } %>"><%= losses_2_by[i] %></td>
                                    <% } %>
                                </tr>
                                <tr>
                                    <td class="match-history-players-name<% if( delta2 > 0) { %> rating-plus<% } else { %> rating-minus<% } %>"><%- playerNameFormatter(user_ids[3], names[3], sexes[3], pics[3]) %></td>
                                </tr>
                                <tr class="match-history-delta-col">
                                    <td class="<%= delta2 < 0 ? 'rating-minus' : 'rating-plus' %>"><%= delta2 < 0 ? delta2 : `+${delta2}` %></td>
                                    <td<% if( delta2 > 0) { %> class="win"<% } %>>〈Σ〉<%= rating2 %></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>

<% if (user) { %>
    <div class="cort" id="cort">
        <div class="container">
            <h1 class="text-center">Корты</h1>
            <table id="cort-table" class="mx-auto w-auto"></table>
        </div>
    </div>

    <div class="tournament" id="tournament">
        <div class="container">
            <h1 class="text-center">Турнир</h1>
            <table id="tournament-table" class="mx-auto w-auto"></table>
        </div>
    </div>

    <div class="settings" id="settings">
        <div class="container">
            <h1 class="text-center">Настройки</h1>
            <table id="settings-table" class="mx-auto w-auto"></table>
        </div>
    </div>

    <div class="player-archive" id="player-archive">
        <div class="container">
            <h1 class="text-center">Архив</h1>
            <table id="player-archive-table" class="justify-content-center mx-auto w-auto"></table>
        </div>
    </div>
<% } %>

<% if (device === 'phone') { %>
    <div class="col text-center">
        <div class="social">
            <%- include('social', {device: device}); %>
        </div>
    </div>
<% } %>

<%- include('footer', {device: device}); %>

<script>
  const loggedInUser = '<%- JSON.stringify(user) %>';
</script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-table.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-table-locale-all.min.js"></script>
<script type="text/javascript" src="/js/extensions/editable/bootstrap-table-editable.min.js"></script>
<script type="text/javascript" src="/js/chart.js"></script>
<script type="text/javascript" src="/js/express-useragent.global.min.js"></script>
<script type="text/javascript" src="/js/lib.js"></script>
<script type="text/javascript" src="/js/share.js"></script>
<script type="text/javascript" src="/js/tournament.js"></script>
<script type="text/javascript" src="/js/settings.js"></script>
<script type="text/javascript" src="/js/court.js"></script>
<script type="text/javascript" src="/js/player.js"></script>
<script type="text/javascript" src="/js/select.js"></script>
<script type="text/javascript" src="/js/game.js"></script>
<script type="text/javascript" src="/js/archive.js"></script>
<script type="text/javascript" src="/js/index.js"></script>

</body>
</html>
