<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,
                 initial-scale=1,
                 shrink-to-fit=no">
    <title>Бадминтон и ром</title>

    <link rel="icon" type="image/png" href="/assets/icons/favicon.png"/>
    <link rel="apple-touch-icon" href="/assets/icons/apple-touch-favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.rtl.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.rtl.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-icons.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-reboot.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-reboot.rtl.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-table.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-utilities.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-utilities.rtl.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/select2.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/select2-bootstrap-5-theme.css"/>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <% if (user) { %>
        <link rel="stylesheet" type="text/css" href="/css/loggedin.css">
    <% } %>
</head>

<body>
<div class="container">
    <% if (user) { %>
        <div class="row"><i class="toggler bi bi-chevron-down" onclick="toggler.toggle(this)"></i></div>
    <% } %>
    <div id="header" class="row align-items-center no-selection <% if (user) { %> closable <% } %>">
        <% if (device !== 'phone') { %>
            <div class="col-2 d-flex">
                <div class="social">
                    <%- include('social', {device: device}); %>
                </div>
            </div>
        <% } %>
        <div class="col-10 d-flex justify-content-end">
            <% if (user) { %>
                <form action="/api/auth/logout" method="post" class="logout">
                    <div class="player-selectors">
                        <%- include('tournament', {tournaments: tournaments}); %>
                        <%- include('unit', {units: units}); %>
                    </div>
                    <label class="user"><%= user.username %></label>
                    <button class="btn" type="submit"><p class="bi bi-box-arrow-right" style="display:inline"></p></button>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>
            <% } else { %>
                <form action="/api/auth/login" method="get" class="login">
                    <button class="btn" type="submit"><p class="bi bi-box-arrow-in-left"> Войти</p></button>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>
            <% } %>
        </div>
    </div>
    <% if (user) { %>
        <hr class="hr-dashed"/>
    <% } %>
</div>

<div class="container">
    <div class="row"><i class="toggler bi bi-chevron-down" onclick="toggler.toggle(this)"></i></div>
    <div id="tournament-info" class="row d-flex closable p-3">
        <% const current_tournament = tournaments.filter(t => t.current === 1)[0]; %>
        <div class="col-6">
            <% const monthArray = ['января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря']; %>
            <% const startedAt = new Date(current_tournament.started_at + 'Z'); %>
            <% const endedAt = new Date(current_tournament.ended_at + 'Z'); %>
            <% const regEndedAt = new Date(current_tournament.reg_ended_at + 'Z'); %>
            <% const regEndH = regEndedAt.getUTCHours(); %>
            <% const regEndM = regEndedAt.getUTCMinutes(); %>
            <% const regEndDateStr = `${regEndedAt.getUTCDate()} ${monthArray[regEndedAt.getUTCMonth()]} ${regEndH <= 9 ? '0' + regEndH : regEndH}:${regEndM
            <= 0 ? '0' + regEndM : regEndM}`; %>

            <% const regEndUntilMillis = (regEndedAt - new Date()); %>
            <% const regEndUntilDays = Math.floor((regEndUntilMillis) / 1000 / 60 / 60 / 24); %>
            <% const regEndUntilHours = Math.floor((regEndUntilMillis - regEndUntilDays * 1000 * 60 * 60 * 24) / 1000 / 60 / 60); %>
            <% const regEndUntilMinutes = Math.floor((regEndUntilMillis - regEndUntilDays * 1000 * 60 * 60 * 24 - regEndUntilHours * 1000 * 60 * 60) / 1000 / 60); %>
            <% const regEndUntilSecs = Math.floor((regEndUntilMillis - regEndUntilDays * 1000 * 60 * 60 * 24 - regEndUntilHours * 1000 * 60 * 60 - regEndUntilMinutes * 1000 * 60) / 1000); %>
            <% const regEndUntilStr = (new Date() - regEndedAt) > 0 ? '(завершена' : '(осталось: '; %>

            <% const durationHours = (endedAt - startedAt) / 36e5; %>
            <% const durationMinutesWithoutHours = (endedAt - startedAt) - durationHours * 36e5; %>

            <% const startedH = startedAt.getUTCHours() <= 9 ? '0' + startedAt.getUTCHours() : startedAt.getUTCHours(); %>
            <% const startedM = startedAt.getUTCMinutes() <= 0 ? '0' + startedAt.getUTCMinutes() : startedAt.getUTCMinutes(); %>
            <% const endedH = endedAt.getUTCHours() <= 9 ? '0' + endedAt.getUTCHours() : endedAt.getUTCHours(); %>
            <% const endedM = endedAt.getUTCMinutes() <= 0 ? '0' + endedAt.getUTCMinutes() : endedAt.getUTCMinutes(); %>
            <% const getDateStr = () => {
                if (startedAt.getUTCFullYear() === endedAt.getUTCFullYear() && startedAt.getUTCMonth() === endedAt.getUTCMonth() && startedAt.getUTCDate() === endedAt.getUTCDate()) { // начало и окончание в один день
                    return `${endedAt.getUTCDate()} ${monthArray[endedAt.getUTCMonth()]} ${endedAt.getUTCFullYear()} ${startedH}:${startedM}-${endedH}:${endedM}`;
                }

                const startMonthNum = startedAt.getUTCMonth() + 1;
                const startMonthNumStr = startMonthNum <= 9 ? '0' + startMonthNum : startMonthNum;
                const endMonthNum = endedAt.getUTCMonth() + 1;
                const endMonthNumStr = endMonthNum <= 9 ? '0' + endMonthNum : endMonthNum;
                if (startedAt.getUTCFullYear() === endedAt.getUTCFullYear()) { // начало и окончание в одном году
                    return `${startedAt.getUTCDate()}.${startMonthNumStr} ${startedH}:${startedM} - ${endedAt.getUTCDate()}.${endMonthNumStr}.${endedAt.getUTCFullYear()} ${endedH}:${endedM}`;
                }

                return `${startedAt.getUTCDate()}.${startMonthNumStr}.${startedAt.getUTCFullYear()} ${startedH}:${startedM} - ${endedAt.getUTCDate()}.${endMonthNumStr}.${endedAt.getUTCFullYear()} ${endedH}:${endedM}`; // начало и окончание в разных годах
            }
            %>
            <% const tournamentName = `Турнир: «${current_tournament.name}»` %>

            <div><%= tournamentName %>
                <button class="btn btn-xs bi-copy"></button>
            </div>
            <div>Регистрация до: <%= regEndDateStr %> <%= regEndUntilStr %><% if ((new Date() - regEndedAt) <= 0) { %><time datetime="<%= regEndUntilDays %>d <%= regEndUntilHours %>h <%= regEndUntilMinutes %>m <%= regEndUntilSecs %>s"></time><% } %>)</div>
            <div>Дата: <%= getDateStr() %> (<%= durationHours %>ч<%= durationMinutesWithoutHours ? ` ${durationMinutesWithoutHours}м` : '' %>)
<!--                <button class="btn btn-xs bi-calendar" onclick="addEventToCalendar();"></button>-->
            </div>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-end">
            <div style="text-align: end;"><%= current_tournament.latitude %>, <%= current_tournament.longitude %>
                <button class="btn btn-xs bi-copy"></button>
                <br><a href="<%= current_tournament.map_url %>" target="_blank" rel="noopener noreferrer"><%= current_tournament.address %></a></div>
        </div>
    </div>
    <hr class="hr-dashed"/>
</div>

<div id="tournament-window">
    <% if (tournament_type === 1) { %> <%# Рейтинг %>
    <%- include('tournament_rating', {user: user}); %>
    <% } else if (tournament_type === 2) { %> <%# 110 %>
    <%- include('tournament_110', {user: user}); %>
    <% } else { %>
        <h1 class="text-center">Неизвестный турнир</h1>
    <% } %>
</div>

<%- include('footer', {device: device}); %>

<script>
  const loggedInUser = '<%- JSON.stringify(user) %>';
</script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/jquery.countdown.js"></script>
<script>
  window.jQuery = window.jQuery || {};
  if (!jQuery.camelCase) {
    jQuery.camelCase = function (str) {
      return str.replace(/-([a-z])/g, function (m, w) {
        return w.toUpperCase();
      });
    };
  }
  if (!jQuery.isFunction) {
    jQuery.isFunction = function (obj) {
      return jQuery.type(obj) === "function";
    };
  }
  if (!jQuery.type) {
    jQuery.type = function (obj) {
      if (obj == null) {
        return String(obj); // возвращает "null" или "undefined"
      }
      var class2type = {
        "[object Array]": "array",
        "[object Boolean]": "boolean",
        "[object Date]": "date",
        "[object Function]": "function",
        "[object Number]": "number",
        "[object Object]": "object",
        "[object RegExp]": "regexp",
        "[object String]": "string",
        "[object Error]": "error",
        "[object Symbol]": "symbol"
      };
      return class2type[Object.prototype.toString.call(obj)] || "object";
    };
  }
</script>
<script type="text/javascript" src="/js/select2.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-table.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-table-locale-all.min.js"></script>
<script type="text/javascript" src="/js/extensions/editable/bootstrap-table-editable.min.js"></script>
<script type="text/javascript" src="/js/ejs.js"></script>
<script type="text/javascript" src="/js/chart.umd.min.js"></script>
<script type="text/javascript" src="/js/moment.min.js"></script>
<script type="text/javascript" src="/js/chartjs-adapter-moment.min.js"></script>
<script type="text/javascript" src="/js/express-useragent.global.min.js"></script>
<script type="text/javascript" src="/js/lib.js"></script>
<script type="text/javascript" src="/js/share.js"></script>
<script type="text/javascript" src="/js/tournament.js"></script>
<script type="text/javascript" src="/js/settings.js"></script>
<script type="text/javascript" src="/js/court.js"></script>
<script type="text/javascript" src="/js/player.js"></script>
<script type="text/javascript" src="/js/select.js"></script>
<script type="text/javascript" src="/js/game.js"></script>
<script type="text/javascript" src="/js/archive.js"></script>
<script type="text/javascript" src="/js/group.js"></script>
<script type="text/javascript" src="/js/index.js"></script>

</body>
</html>
