<% if (kind === 'page') { %>
    <!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Бадминтон и ром</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/auth.css">
</head>
<body>
<section class="prompt">
    <h3><a href="/">Бадминтон и ром</a></h3>
    <h1>Регистрация</h1>
    <img src="/assets/images/soon.jpeg" width=100%></img>
</section>
<% } %>

<% if (kind === 'modal') { %>
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Регистрация</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="sendData(event)" name="signup" id="signup"
                      enctype="multipart/form-data" >
                    <section>
                        <div class="form-group">
                            <label class="control-label">Электронная почта <span
                                        class="text-danger">*</span></label>
                            <div class="col">
                                <div class="input-group">
                                    <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-envelope"></i></span>
                                    <input type="email" class="form-control" name="emailid"
                                           id="emailid"
                                           placeholder="Введите адрес электронной почты" value="" required>
                                </div>
                                <small>Электронная почта для авторизации и восстановления доступа</small>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="form-group">
                            <label class="control-label">Номер телефона <span
                                        class="text-danger">*</span></label>
                            <div class="col">
                                <div class="input-group">
                                    <input class="form-control" value="+7" size="2" disabled>
                                    <input id="phonenum" type="tel" pattern="^\d{10}$" placeholder="XXXXXXXXXX" class="form-control w-auto" size="11"
                                           required>
                                </div>
                                <small>Номер телефона, связанный с аккаунтов в Telegram</small>
                            </div>
                        </div>
                    </section>

                    <% if (kind === 'page') { %>
                        <section>
                            <div class="form-group">
                                <label class="control-label col">Пароль <span class="text-danger">*</span></label>
                                <div class="col">
                                    <div class="input-group">
                                <span class="input-group-addon"><i
                                            class="glyphicon glyphicon-lock"></i></span>
                                        <input type="password" class="form-control" name="password"
                                               id="password"
                                               placeholder="Введите пароль (1-15 символов)"
                                               value="" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col">Подтвердите пароль <span class="text-danger">*</span></label>
                                <div class="col">
                                    <div class="input-group">
                                <span class="input-group-addon"><i
                                            class="glyphicon glyphicon-lock"></i></span>
                                        <input type="password" class="form-control" name="cpassword"
                                               id="cpassword" placeholder="Подтвердите пароль" value="" required>
                                    </div>
                                </div>
                            </div>
                        </section>
                    <% } %>

                    <section>
                        <div class="form-group">
                            <label class="control-label col">Фамилия <span class="text-danger">*</span></label>
                            <div class="col">
                                <input type="text" class="form-control" name="mem_name"
                                       id="mem_name"
                                       placeholder="Введите фамилию" value="" required>
                            </div>
                            <label class="control-label col">Имя <span class="text-danger">*</span></label>
                            <div class="col">
                                <input type="text" class="form-control" name="mem_name"
                                       id="mem_name"
                                       placeholder="Введите имя" value="" required>
                            </div>
                            <label class="control-label col">Отчество <span class="text-danger">*</span></label>
                            <div class="col">
                                <input type="text" class="form-control" name="mem_name"
                                       id="mem_name"
                                       placeholder="Введите отчество" value="" required>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="form-group">
                            <label class="control-label col">Регион <span class="text-danger">*</span></label>
                            <div class="col">
                                <select name="country" class="form-control w-auto" required>
                                    <option value="">Страна</option>
                                    <% states.forEach(state => { %>
                                        <option value="<%= state.id %>" <% if (state.is_default) { %>selected
                                                <% } %>
                                        ><%= state.name %></option>
                                    <% }); %>
                                </select>
                                <select name="region" class="form-control w-auto" required>
                                    <option value="">Область</option>
                                    <% regions.forEach(region => { %>
                                        <option value="<%= region.id %>" <% if (region.is_default) { %>selected
                                                <% } %>
                                        ><%= region.name %></option>
                                    <% }); %>
                                </select>
                                <select name="city" class="form-control w-auto" required>
                                    <option value="">Город</option>
                                    <% cities.forEach(city => { %>
                                        <option value="<%= city.id %>" <% if (city.is_default) { %>selected
                                                <% } %>
                                        ><%= city.name %></option>
                                    <% }); %>
                                </select>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="form-group">
                            <label class="control-label col">День рождения <span class="text-danger">*</span></label>
                            <div class="col">
                                <div class="row">
                                    <select name="dd" class="form-control w-auto" required>
                                        <option value="">День</option>
                                        <% for(var i = 1; i <= 31; i++) { %>
                                            <option value="<%= i %>"><%= i %></option>
                                        <% } %>
                                    </select>
                                    <select name="mm" class="form-control w-auto" required>
                                        <option value="">Месяц</option>
                                        <option value="1">Январь</option>
                                        <option value="2">Февраль</option>
                                        <option value="3">Март</option>
                                        <option value="4">Апрель</option>
                                        <option value="5">Май</option>
                                        <option value="6">Июнь</option>
                                        <option value="7">Июль</option>
                                        <option value="8">Август</option>
                                        <option value="9">Сентябрь</option>
                                        <option value="10">Октябрь</option>
                                        <option value="11">Ноябрь</option>
                                        <option value="12">Декабрь</option>
                                    </select>
                                    <select name="yyyy" class="form-control w-auto" required>
                                        <option value="0">Год</option>
                                        <% for(var i = 1950; i < new Date().getFullYear() - 4; i++) { %>
                                            <option value="<%= i %>"><%= i %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section style="margin-bottom: 2em">
                        <div class="form-group sex">
                            <div class="col">
                                <label class="control-label col">Пол <span class="text-danger">*</span></label>
                                <div class="col">
                                    <input type="radio" id="male" name="sex"/>
                                    <label for="male" id="male">М</label>
                                    <input type="radio" id="female" name="sex"/>
                                    <label for="female" id="female">Ж</label>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="form-group">
                            <label class="control-label">Начальный рейтинг <span class="text-danger">*</span></label>
                            <div class="col">
                                <div class="input-group">
                                    <input type="number" value="300" placeholder="300" class="form-control w-auto" size="3" required>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="form-group">
                            <label class="control-label col">Фото</label>
                            <div class="col">
                                <div class="input-group"><span class="input-group-addon" id="file_upload"><i
                                                class="glyphicon glyphicon-upload"></i></span>
                                    <input type="file" name="file_nm" id="file_nm"
                                           class="form-control upload" placeholder=""
                                           aria-describedby="file_upload">
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-primary">Зарегистрировать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<% } %>

<script>
  function sendData(event) {
    event.preventDefault();
    const formData = new FormData(event);
    alert(JSON.stringify(formData));
    // fetch('/submit', {
    //   method: 'POST',
    //   body: formData
    // })
    // .then(response => response.text())
    // .then(data => {
    //   document.getElementById('result').innerHTML = data;
    // });
  }
</script>

<% if (kind === 'page') { %>
    <%- include('footer'); %>
</body>
</html>
<% } %>
