<div class="modal-dialog modal-fullscreen modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Карточка игрока</h5>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close">
            </button>
        </div>
        <div class="modal-body">
            <section class="bg-light py-3 py-md-5 py-xl-8">
                <div class="container">
                    <div class="row gy-4 gy-lg-0">
                        <div class="col-12 col-lg-4 col-xl-3">
                            <div class="row gy-4">
                                <div class="col-12">
                                    <div class="card widget-card border-light shadow-sm">
                                        <div class="card-header text-bg-primary text-truncate"><%= user.lastname %> <%= user.firstname %> <%= user.patronymic %></div>
                                        <div class="card-body">
                                            <div class="text-center mb-3">
                                                <img class="img-fluid"
                                                     src="<% if (user.pic && user.pic.slice(0, 4) === 'http') { %><%= user.pic %><% } else if (user.pic) { %>data:image/png;base64, <%= user.pic %><% } else { %>/assets/images/pepe.png<% } %>"
                                                     alt="user@email.com">
                                            </div>
                                            <p>
                                            <h5 class="text-center mb-1"><%= city.name %></h5>
                                            <div class="text-center text-secondary"><%= region.name %></div>
                                            <div class="text-center text-secondary mb-2"><%= state.name %></div>
                                            </p>
                                            <% const monthArray = ['января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября',
                                                'октября', 'ноября', 'декабря']; %>
                                            <p>
                                            <div class="text-center text-secondary"><i class="bi bi-cake2"> </i><%= user.birthday.slice(
                                                        -2) %> <%= monthArray[Number(user.birthday.slice(5, 7)) - 1] %>
                                                <% if (login && login.id === user.id) { %> <%= user.birthday.slice(0, 4) %> (<%= user.age %>)
                                                <% } %>
                                            </div>
                                            <div class="text-center text-secondary">через <%= days_until_birthday.days %> д.</div>
                                            </p>
                                            <% if (user.club) { %><p class="text-center text-secondary"><%= user.club %></p><% } %>
                                            <p>
                                            <form class="player-window-change-rating-form">
                                                <div class="input-group">
                                                    <div class="text-center text-secondary form-control border-0"><i class="bi bi-activity"></i> Рейтинг</div>
                                                    <input class="player-window-change-rating-input form-control border-0" type="number" placeholder="рейтинг" maxlength="5" size="5" value="<%= rating.rating %>" required<% if (!login) { %> disabled<% } %>>
                                                    <% if (login) { %><button class="player-window-change-rating-button bi bi-floppy btn btn-outline-dark border-0" type="button"></button><% } %>
                                                </div>
                                            </form>
                                            <div class="progress mt-2">
                                                <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Калибровка (50%)</div>
                                            </div>
                                            </p>
                                        </div>
                                    </div>
                                </div>
<!--                                <div class="col-12">-->
<!--                                    <div class="card widget-card border-light shadow-sm">-->
<!--                                        <div class="card-header text-bg-primary">Social Accounts</div>-->
<!--                                        <div class="card-body">-->
<!--                                            <a href="#!" class="d-inline-block bg-dark link-light lh-1 p-2 rounded">-->
<!--                                                <i class="bi bi-youtube"></i>-->
<!--                                            </a>-->
<!--                                            <a href="#!" class="d-inline-block bg-dark link-light lh-1 p-2 rounded">-->
<!--                                                <i class="bi bi-twitter-x"></i>-->
<!--                                            </a>-->
<!--                                            <a href="#!" class="d-inline-block bg-dark link-light lh-1 p-2 rounded">-->
<!--                                                <i class="bi bi-facebook"></i>-->
<!--                                            </a>-->
<!--                                            <a href="#!" class="d-inline-block bg-dark link-light lh-1 p-2 rounded">-->
<!--                                                <i class="bi bi-linkedin"></i>-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="col-12">
                                    <div class="card widget-card border-light shadow-sm">
                                        <div class="card-header text-bg-primary">Достижения</div>
                                        <div class="card-body">
                                            <span class="badge text-bg-primary">Игроман</span>
                                            <span class="badge text-bg-primary">Хронофил</span>
                                            <span class="badge text-bg-primary">Пулемёт</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-8 col-xl-9">
                            <div class="card widget-card border-light shadow-sm">
                                <div class="card-body p-4">
                                    <ul class="nav nav-tabs" id="profileTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview-tab-pane" type="button" role="tab" aria-controls="overview-tab-pane" aria-selected="true">Обзор</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="win-tab" data-bs-toggle="tab" data-bs-target="#win-tab-pane" type="button"
                                                    role="tab" aria-controls="win-tab-pane" aria-selected="false">Выигрывает
                                            </button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="lose-tab" data-bs-toggle="tab" data-bs-target="#lose-tab-pane" type="button"
                                                    role="tab" aria-controls="lose-tab-pane" aria-selected="false">Проигрывает
                                            </button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="chance-tab" data-bs-toggle="tab" data-bs-target="#chance-tab-pane" type="button"
                                                    role="tab" aria-controls="chance-tab-pane" aria-selected="false">Шанс
                                            </button>
                                        </li>
<!--                                        <li class="nav-item" role="presentation">-->
<!--                                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button"-->
<!--                                                    role="tab" aria-controls="profile-tab-pane" aria-selected="false">Profile-->
<!--                                            </button>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item" role="presentation">-->
<!--                                            <button class="nav-link" id="email-tab" data-bs-toggle="tab" data-bs-target="#email-tab-pane" type="button"-->
<!--                                                    role="tab" aria-controls="email-tab-pane" aria-selected="false">Emails-->
<!--                                            </button>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item" role="presentation">-->
<!--                                            <button class="nav-link" id="password-tab" data-bs-toggle="tab" data-bs-target="#password-tab-pane" type="button"-->
<!--                                                    role="tab" aria-controls="password-tab-pane" aria-selected="false">Password-->
<!--                                            </button>-->
<!--                                        </li>-->
                                    </ul>
                                    <div class="tab-content pt-4" id="profileTabContent">
                                        <div class="tab-pane fade show active" id="overview-tab-pane" role="tabpanel" aria-labelledby="overview-tab"
                                             tabindex="0">
                                            <div class="row g-0">
                                                <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                                                    <div class="p-2"><a class="player-window-link link-dark link-offset-2" style="font-family: var(--bs-body-font-family); font-size: var(--bs-body-font-size); font-weight: var(--bs-body-font-weight);" href="https://badminton4u.ru" target="_blank" rel="noopener noreferrer">badminton4u.ru</a> (ЛАБ)</div>
                                                </div>
                                                <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                                                    <div class="p-2"><i class="bi bi-at"></i><% if (user.site_id) { %><a class="player-window-link link-dark link-offset-2" href="https://badminton4u.ru/players/<%= user.site_id %>" target="_blank" rel="noopener noreferrer"><%= user.site_login || user.site_id %></a><% } else { %><%= '—' %><% } %> <i class="bi bi-star"></i> <%= user.rating_1 ?? '—' %> / <i class="bi bi-star"></i><i class="bi bi-star"></i> <%= user.rating_2 ?? '—' %><span style="margin-right: 0.3em"></span></div>
                                                </div>
                                                <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                                                    <div class="p-2">Матчей</div>
                                                </div>
                                                <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                                                    <div class="p-2"><%= matches.count %></div>
                                                </div>
                                                <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                                                    <div class="p-2">Игр</div>
                                                </div>
                                                <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                                                    <div class="p-2"><%= games.count %></div>
                                                </div>
                                                <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                                                    <div class="p-2">Игр на матч</div>
                                                </div>
                                                <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                                                    <div class="p-2"><%= matches.count ? (Number(games.count) / Number(matches.count)).toFixed(2) : 0; %></div>
                                                </div>
                                                <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                                                    <div class="p-2">Матчей из трёх игр</div>
                                                </div>
                                                <% const matches3 = Number(games.count) - 2 * Number(matches.count) %>
                                                <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                                                    <div class="p-2"><%= matches3 %> (<%= matches.count ? (matches3 / matches.count).toFixed(4) * 100 : 0; %>%)</div>
                                                </div>
                                                <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                                                    <div class="p-2">Побед / Поражений / %</div>
                                                </div>
                                                <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                                                    <% const wins = co_winners.map(w => w.win_count).reduce((acc, curr) => acc + curr, 0); %>
                                                    <% const loses = co_losers.map(l => l.lose_count).reduce((acc, curr) => acc + curr, 0); %>
                                                    <% const win_rate = matches.count ? (wins / matches.count).toFixed(4) * 100 : 0; %>
                                                    <div class="p-2"><span class="rating-plus"><%= wins %></span> / <span class="rating-minus"><%= loses %></span> / <span class="rating-<%= win_rate > 50 ? 'plus' : 'minus' %>"><%= win_rate %>%</span></div>
                                                </div>
                                            </div>
                                            <canvas id="player-window-rating" height="120"></canvas>
                                        </div>
                                        <div class="tab-pane fade" id="win-tab-pane" role="tabpanel" aria-labelledby="win-tab" tabindex="0">
                                            <div class="p-2">
                                                <table class="table no-selection">
                                                    <tbody>
                                                    <% co_winners.forEach((w) => { %>
                                                        <%- include('co', {win_count: w.win_count, user_id: w.user_id, user_name: w.user_name, user_sex: w.user_sex, user_pic: w.user_pic}); %>
                                                    <% }); %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="lose-tab-pane" role="tabpanel" aria-labelledby="lose-tab" tabindex="0">
                                            <div class="p-2">
                                                <table class="table no-selection">
                                                    <tbody>
                                                    <% co_losers.forEach((l) => { %>
                                                        <%- include('co', {lose_count: l.lose_count, user_id: l.user_id, user_name: l.user_name, user_sex: l.user_sex, user_pic: l.user_pic}); %>
                                                    <% }); %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="chance-tab-pane" role="tabpanel" aria-labelledby="win-tab" tabindex="0">
                                            <div class="p-2">
                                                <table class="table no-selection">
                                                    <tbody>
                                                    <% buddies.forEach((b) => { %>
                                                        <%- include('co', {rate: b.win_rate, user_id: b.user_id, user_name: b.user_name, user_sex: b.user_sex, user_pic: b.user_pic}); %>
                                                    <% }); %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                                            <form action="#!" class="row gy-3 gy-xxl-4">
                                                <div class="col-12">
                                                    <div class="row gy-2">
                                                        <label class="col-12 form-label m-0">Profile Image</label>
                                                        <div class="col-12">
                                                            <img src="/assets/images/pepe.png" class="img-fluid" alt="Luna John">
                                                        </div>
                                                        <div class="col-12">
                                                            <a href="#!" class="d-inline-block bg-primary link-light lh-1 p-2 rounded">
                                                                <i class="bi bi-upload"></i>
                                                            </a>
                                                            <a href="#!" class="d-inline-block bg-danger link-light lh-1 p-2 rounded">
                                                                <i class="bi bi-trash"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <label for="inputFirstName" class="form-label">First Name</label>
                                                    <input type="text" class="form-control" id="inputFirstName" value="Ethan">
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <label for="inputLastName" class="form-label">Last Name</label>
                                                    <input type="text" class="form-control" id="inputLastName" value="Leo">
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <label for="inputEducation" class="form-label">Education</label>
                                                    <input type="text" class="form-control" id="inputEducation" value="M.S Computer Science">
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <label for="inputSkills" class="form-label">Skills</label>
                                                    <input type="text" class="form-control" id="inputSkills"
                                                           value="HTML, SCSS, Javascript, React, Vue, Angular, UI, UX">
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <label for="inputJob" class="form-label">Job</label>
                                                    <input type="text" class="form-control" id="inputJob" value="Project Manager">
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <label for="inputCompany" class="form-label">Company</label>
                                                    <input type="text" class="form-control" id="inputCompany" value="GitHub Inc">
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <label for="inputPhone" class="form-label">Phone</label>
                                                    <input type="tel" class="form-control" id="inputPhone" value="+12486798745">
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <label for="inputEmail" class="form-label">Email</label>
                                                    <input type="email" class="form-control" id="inputEmail" value="leo@example.com">
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <label for="inputAddress" class="form-label">Address</label>
                                                    <input type="text" class="form-control" id="inputAddress" value="Mountain View, California">
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <label for="inputCountry" class="form-label">Country</label>
                                                    <select class="form-select" id="inputCountry">
                                                        <option value="Afghanistan">Afghanistan</option>
                                                    </select>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <label for="inputYouTube" class="form-label">YouTube</label>
                                                    <input type="text" class="form-control" id="inputYouTube" value="https://www.youtube.com/EthanLeo">
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <label for="inputX" class="form-label">X</label>
                                                    <input type="text" class="form-control" id="inputX" value="https://twitter.com/EthanLeo">
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <label for="inputFacebook" class="form-label">Facebook</label>
                                                    <input type="text" class="form-control" id="inputFacebook" value="https://www.facebook.com/EthanLeo">
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <label for="inputLinkedIn" class="form-label">LinkedIn</label>
                                                    <input type="text" class="form-control" id="inputLinkedIn" value="https://www.linkedin.com/EthanLeo">
                                                </div>
                                                <div class="col-12">
                                                    <label for="inputAbout" class="form-label">About</label>
                                                    <textarea class="form-control" id="inputAbout">Ethan Leo is a seasoned and results-driven Project Manager who brings experience and expertise to project management. With a proven track record of successfully delivering complex projects on time and within budget, Ethan Leo is the go-to professional for organizations seeking efficient and effective project leadership.</textarea>
                                                </div>
                                                <div class="col-12">
                                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane fade" id="email-tab-pane" role="tabpanel" aria-labelledby="email-tab" tabindex="0">
                                            <form action="#!">
                                                <fieldset class="row gy-3 gy-md-0">
                                                    <legend class="col-form-label col-12 col-md-3 col-xl-2">Email Alerts</legend>
                                                    <div class="col-12 col-md-9 col-xl-10">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="emailChange">
                                                            <label class="form-check-label" for="emailChange">
                                                                Email Changed
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="passwordChange">
                                                            <label class="form-check-label" for="passwordChange">
                                                                Password Changed
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="weeklyNewsletter">
                                                            <label class="form-check-label" for="weeklyNewsletter">
                                                                Weekly Newsletter
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="productPromotions">
                                                            <label class="form-check-label" for="productPromotions">
                                                                Product Promotions
                                                            </label>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <button type="submit" class="btn btn-primary mt-4">Save Changes</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane fade" id="password-tab-pane" role="tabpanel" aria-labelledby="password-tab" tabindex="0">
                                            <form action="#!">
                                                <div class="row gy-3 gy-xxl-4">
                                                    <div class="col-12">
                                                        <label for="currentPassword" class="form-label">Current Password</label>
                                                        <input type="password" class="form-control" id="currentPassword">
                                                    </div>
                                                    <div class="col-12">
                                                        <label for="newPassword" class="form-label">New Password</label>
                                                        <input type="password" class="form-control" id="newPassword">
                                                    </div>
                                                    <div class="col-12">
                                                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                                                        <input type="password" class="form-control" id="confirmPassword">
                                                    </div>
                                                    <div class="col-12">
                                                        <button type="submit" class="btn btn-primary">Change Password</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>